<!-- this is what will render on every page, eg. header/footer -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings Bill</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
