<style media="screen">
  table, td {
    border: 1px solid black;
    /* padding: 1.5rem; */
    border-collapse: collapse;
    margin-left: 2rem;
  }
  th {
    font-size: 22px;
    font-weight: lighter;
  }
  td {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>

{{{body}}}

<h1>Settings Bill Actions</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Cost</th>
    <th>TimeStamp</th>
  </tr>
  <tr>
    <td>{{type}}</td>
    <td>{{cost}}</td>
    <td>{{timestamp}}</td>
  </tr>
</table>
